[submodule "third-party/attoparsec"]
	path = third-party/attoparsec
	url = https://github.com/ekmett/attoparsec.git
[submodule "third-party/bytes"]
	path = third-party/bytes
	url = https://github.com/ekmett/bytes.git
[submodule "third-party/dlist"]
	path = third-party/dlist
	url = https://github.com/spl/dlist.git
[submodule "third-party/cabal-doctest"]
	path = third-party/cabal-doctest
	url = https://github.com/ekmett/cabal-doctest.git
