[submodule "nih/msdfgen"]
	path = nih/msdfgen
	url = https://github.com/Chlumsky/msdfgen
[submodule "nih/bindings-freetype-gl"]
	path = nih/bindings-freetype-gl
	url = https://github.com/lamdu/bindings-freetype-gl.git
[submodule "nih/freetype2"]
	path = nih/freetype2
	url = https://github.com/lamdu/freetype2
[submodule "nih/glyphy"]
	path = nih/glyphy
	url = https://github.com/behdad/glyphy.git
[submodule "nih/stb"]
	path = nih/stb
	url = https://github.com/nothings/stb.git
